@{
    ViewData["Title"] = "Sacrament Meeting Planner";
}

<div>
    <a href="https://www.churchofjesuschrist.org/?lang=eng"><img src="img\christus_statue_visitors_center.jpeg" width="200" /></a>
    <h1 class="display-4">Plan your Sacrament Meeting</h1>
    <p>Welcome to our Sacrament Builder Page. From this site you will be able to add your Sacrament meeting and organize your itinerary for that meeting.</p>
    <div>
        <p>Here are a fun facts about The Church of Jesus Christ of Latter-Day Saints.</p>
        <a href="https://www.churchofjesuschrist.org/?lang=eng"><img src="img\information_statistics_graphics_lds_church.jpeg" width="400" /></a>
    </div>


 </div>

