@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@300;400&display=swap');

/*font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;*/

/* Color Theme Swatches in Hex */
.Abstract-soft-watercolor-flow-blot-painting.-Beige-neutral-color-canvas-texture-horizontal-paper-background.-1-hex {
    color: #798C8C;
}

.Abstract-soft-watercolor-flow-blot-painting.-Beige-neutral-color-canvas-texture-horizontal-paper-background.-2-hex {
    color: #AEBFBE;
}

.Abstract-soft-watercolor-flow-blot-painting.-Beige-neutral-color-canvas-texture-horizontal-paper-background.-3-hex {
    color: #D0D9D4;
}

.Abstract-soft-watercolor-flow-blot-painting.-Beige-neutral-color-canvas-texture-horizontal-paper-background.-4-hex {
    color: #F2EFDF;
}

.Abstract-soft-watercolor-flow-blot-painting.-Beige-neutral-color-canvas-texture-horizontal-paper-background.-5-hex {
    color: #59554C;
}


div.container, a, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight:400;
    color: #59554C;
}

h1 {
    font-family: 'Lora', serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F2EFDF;
}

header, footer {
    background-color: #AEBFBE;
    color: #59554C;
    padding: 1em;
}

div.home_pg {
    display: grid;
    grid-gap: 2%;
    place-items: center;
    margin: 1em;
}

div.home_pg img {
    width: 25%;
}

div.home_pg a {
    text-align:center;
}

.nav-link {
    font-size: 16pt;
    color: #59554C;
}

.nav-link:hover {
    color: #798C8C;
    font-weight:700;
 }

.nav-link:visited {
    color: #59554C;
}
